# ============================================
# IGNORE EVERYTHING
# ============================================
/*

# ============================================
# ALLOW ONLY ESSENTIAL PRODUCTION FILES
# ============================================

!.gitignore
!.htaccess
!assets/
!assets/**
!img/
!index.html
!package-lock.json
!package.json
!public/
!README.md
!scripts/
!src/
.tool-versions
Makefile
postcss.config.js
README.md
tailwind.config.js
vite.config.js