# ============================================
# IGNORE EVERYTHING
# ============================================
/*

# ============================================
# ALLOW ONLY ESSENTIAL PRODUCTION FILES
# ============================================

!.gitignore
!.htaccess
!assets/
!assets/**
!img/
!index.html
!package-lock.json
!package.json
!README.md
.tool-versions
Makefile
postcss.config.js
public
README.md
scripts
src
tailwind.config.js
vite.config.js